{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% block styles %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}" >

  {% endblock %}
<div class="container mt-5 pt-4">
<div class="login-form mt-5">
   
    <form action="" method="post">
      {% csrf_token %}
		<div class="avatar">
			<img style="width:100%;height: 100%;" src="{% static 'images/avatar.png' %}" alt="Avatar">
		</div>
        <h2 class="text-center">Send Password</h2>   
        <div class="messages">
          {% for message in messages %}
            {% if message.tags == "error" %}
              <div  class="alert alert-danger">{{ message }}</div>
            {% else %}
              <div  class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
          {% endfor %}
        </div>
      {% csrf_token %}
        <div class="form-group">
        	<input type="text" aria-required class="form-control" name="email" placeholder="Email" required="required">
        </div>       
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
        </div>
	
    </form>
    <p class="text-center small"><a href="/login">Login</a></p>
</div>
</div>

{% endblock %}