{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% block styles %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" >
  {% endblock %}
 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>The Neighbors</h1>
        <h2>
          Where neighbors work together, share ideas and work towards the bettwerment of the community.</h2>
        <div><a href="#about" class="btn-get-started scrollto">Get Started</a></div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="{% static 'images/neighbor.png' %}" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->
{% if user.is_authenticated %}

<main id="main">
<!-- ======= blog Section ======= -->
<section id="about" class="about">
  <div class="container mt-5 ">
    <h4 class="text-center font-weight-bold mb-3">Posts in {{request.user.neighborhood.name}}</h4>

    <div class="row ">
      <div class="col-md-8">

        {% for post in posts %}
        <article class="media content-section mb-4">
        <img class="rounded-circle article-img" src="{{post.user.profile_photo_url}}">
          <div class="media-body ">
            <div class="row bordered bg-light">
              <div class="col-sm-4 article-image p-0">
                <img class="article-images" src="{{post.image.url}}">
              </div>
              <div class="col-sm-8 ">
                 <div class="article-metadata ">
                  <a class="mr-2" href="#">{{ post.user.name }}</a>
                  <small class="text-muted">{{ post.date_posted|date:"M d, Y"  }}</small>
                 </div>

                <h3><a class="article-title" href="/post/{{post.id}}">{{ post.title }}</a></h3>
                <p class="article-content">{{ post.content }}</p>
              </div>
            </div>
           
          </div>
        </article>

    {% endfor %}
       
       

      </div>
      <div  class="col-md-4 card pt-4">
             <h5>Businesses</h5>
      </div>

    </div>
  </div>
</section><!-- End blog Section -->

{% endif %}

{% endblock %}