{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% block styles %}
  <link rel="stylesheet" href="{% static 'css/post.css' %}" >
  {% endblock %}

     <!-- Page content-->
     <div class="container mt-5 pt-5">
        <div class="row mt-5">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{post.title}}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Posted on {{post.date_posted|date:"M d, Y" }} by {{post.user.name}}</div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{post.neighborhood.name}}</a>

                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4">
                        <img class="img-fluid rounded" src="{{post.image.url}}" alt="..." />
                    </figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">{{post.content}}
                            </p>
                    </section>
                </article>
            </div>               
             <!-- Side widgets-->
            <div class="col-lg-4">
               
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Quick Navigation</div>
                    <div class="card-body">
                      <ul class="list-group">
                        <li class="list-group-item "><a class="text-dark" href="/">Home</a></li>
                        <li class="list-group-item "><a class="text-dark" href="/">View Posts</a></li>
                        <li class="list-group-item "><a class="text-dark" href="/add_post">Create Post</a></li>
                        <li class="list-group-item "><a class="text-dark" href="/business">Business</a></li>
                        <li class="list-group-item "><a class="text-dark" href="/profile">Profile</a></li>
                      </ul>
                </div>
            </div>
        </div>
     </div>

{% endblock %}